<pas-spinner *ngIf="isLoading$ | async"></pas-spinner>

<form *ngIf="form" [formGroup]="form" class="overview-wrap popup-inner">
  <div class="left-column">
    <pas-parcel-info-small-claims-overall-form [isViewMode]="isViewMode"></pas-parcel-info-small-claims-overall-form>
    <pas-parcel-info-small-claims-totals-form *ngIf="isAddMode" [isViewMode]="isViewMode"></pas-parcel-info-small-claims-totals-form>
    <ng-container *ngIf="isAbleToViewExemption$ | async">
      <pas-parcel-info-small-claims-exemptions-table *ngIf="isEditForm"></pas-parcel-info-small-claims-exemptions-table>
      <pas-exemptions-table
        formControlName="pendingExemptions"
        [exemptionParams]="exemptionParams$ | async"
        [appealId]="computedSmallClaimId$ | async"
      ></pas-exemptions-table>
    </ng-container>
  </div>
  <div class="right-column">
    <pas-parcel-info-small-claims-petitioner-form [isViewMode]="isViewMode"></pas-parcel-info-small-claims-petitioner-form>
    <pas-parcel-info-small-claims-owner-form [isViewMode]="isViewMode"></pas-parcel-info-small-claims-owner-form>
  </div>
  <div class="bottom-block">
    <pas-parcel-info-small-claims-totals-form *ngIf="isNotAddMode" [isViewMode]="isViewMode"></pas-parcel-info-small-claims-totals-form>

    <pas-parcel-info-small-claims-results-petitioners-reason
      [isModifyMode]="true"
      [isEditForm]="false"
      *ngIf="isNotEditForm"
    ></pas-parcel-info-small-claims-results-petitioners-reason>
  </div>
  <ng-container *ngIf="isAddMode">
    <ng-container *ngFor="let error of smallClaimFormErrors">
      <mat-error *pasFormGroupError="error"></mat-error>
    </ng-container>
  </ng-container>
</form>
