@import 'custom-components/extends/dynamic-input-group';
@import 'custom-components/extends/dynamic-table';

.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: [top-row] auto [content-row] minmax(0, 1fr);

  @extend %dynamic-input-group;
}

.top-box {
  grid-row: top-row;
  padding-bottom: 10px;
}

.content {
  grid-row: content-row;

  .table-row {
    margin-bottom: 12px;
    @extend %dynamic-table-lg;
  }
}
