<div class="dialog-header">
  <button class="close-dialog-btn" mat-icon-button [mat-dialog-close]="false"></button>

  <span mat-dialog-title>Upload Document</span>
</div>
<mat-dialog-content>
  <form>
    <pas-file-uploader
      [files]="documents$ | async"
      uploadButtonText="Browse"
      (fileAdded)="onFileAdded($event)"
      (fileRemove)="onFileRemove($event)"
    >
    </pas-file-uploader>

    <mat-dialog-actions>
      <button (click)="onCancel()" class="size-lg" mat-flat-button color="primary">Cancel</button>

      <button [disabled]="isUploadDisabled$ | async" (click)="onUpload()" class="size-lg" mat-flat-button color="accent" cdkFocusInitial>
        Upload
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
